body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url('web_image.jpg') no-repeat center center fixed; /* Replace 'background.jpg' with your image */
    background-size: cover;
    background-blend-mode: overlay; /* Adds an overlay effect */
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
}


header {
    background: #13023e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-gallery img {
    width: 30%;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.image-gallery img:hover {
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #1d1ace;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .image-gallery img {
        width: 100%;
    }
}
